@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  font-family: "Onest", sans-serif;
}
.a {
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
/* impossible text style home page */
.textFont {
  font-family: "Mazius Display, sans-serif";
  font-style: italic;
  text-align: left;
  color: #ed2939;
}
.scrolling-text {
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hides the overflow */
  box-sizing: border-box;
  width: 100%; /* Adjust the width of the container */
  animation: scroll-left 20s linear infinite; /* Animation for scrolling */
}

@keyframes scroll-left {
  from {
    transform: translateX(100%); /* Start from the right */
  }
  to {
    transform: translateX(-100%); /* Move to the left */
  }
}

.scrolling-text1 {
  white-space: nowrap; /* Prevents the text from wrapping */
  box-sizing: border-box;
  width: 100%; /* Adjust the width of the container */
  animation: scroll-left1 14s linear infinite alternate; /* Animation for scrolling */
}

@keyframes scroll-left1 {
  from {
    transform: translateX(0%); /* Start from the right */
  }
  to {
    transform: translateX(-30%); /* Move to the left */
  }
}

@media (max-width: 1023px) {
  .scrolling-text1 {
    animation: none;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  width: max-content;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-marquee1 {
  display: flex;
  flex-wrap: nowrap;
  animation: marquee1 30s linear infinite;
  width: fit-content;
}
